# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Buck
.buckd/
buck-out/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx
sphinx/_build/
*~
node_modules
